@import url('https://fonts.googleapis.com/css?family=Anton|Cinzel:400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Sunflower:300');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --nav-bg: #000000;
    --bd-bg: #ffffff;
    --head-bg: #000000;
    --hero-c: red;
    --h-c: #dddddd;
    --a-c: #dddddd;
}

/* -----Body ------ */

/* ------ NAV ------- */

body {
    background: var(--bd-bg);
}

.container {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 40px;
    background: transparent;
    position: fixed;
    z-index: 9999;
}

nav span {
    color: #dddddd;
    font-family: 'Roboto Condensed';
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

nav.shadow {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}

/* Adding class on scroll  */

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--a-c);
    font-family: 'Roboto Condensed';
}

nav ul li a:hover {
    color: var(--hero-c);
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--hero-c);
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.fa-bars {
    color: #dddddd;
    font-size: 1.5em;
    position: absolute;
    top: 51%;
    right: 20%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    cursor: pointer;
}

/* -----header ------- */

header {
    width: 100%;
    height: 100vh;
    background: var(--head-bg);
}

#TOP {
    position: fixed;
    right: 6%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(230, 17, 17, 0.486);
    visibility: hidden;
    z-index: 9999;
    color: #dddddd;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

#TOP.visible {
    visibility: visible;
}

#TOP:hover {
    background-color: var(--hero-c);
}

#h-me {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
}

.scroll-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 50px;
    border-radius: 28px;
    border: 2px solid #dddddd;
    background: transparent;
    opacity: .4;
}

.dot {
    width: 18px;
    height: 18px;
    background: #dddddd;
    border-radius: 50%;
    ;
    position: absolute;
    top: 25%;
    left: 52%;
    transform: translate(-50%, -50%);
    animation: scrollDown 1.5s infinite ease-in-out;
}

@keyframes scrollDown {
    0% {
        top: 25%
    }
    100% {
        top: 75%;
    }
}

.fa-facebook {
    position: absolute;
    top: 55%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: #dddddd;
    opacity: .3;
    transition: .3s;
    cursor: pointer;
}

.fa-facebook:hover {
    opacity: 1;
    color: red;
}

/* ------ h1, h2 ----------- */

h1 {
    line-height: 100px;
    position: absolute;
    top: 40%;
    left: 34%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-family: 'Anton';
    text-transform: uppercase;
    color: var(--h-c);
}

hr {
    height: 2px;
    width: 28%;
    position: absolute;
    top: 53%;
    left: 34.5%;
    transform: translate(-50%, -50%);
    background-color: red;
    border-style: none;
}

.sechr {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, red, transarent);
}

h2 {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Cinzel';
    color: var(--h-c);
}

/* ------SECTION - 1 ---------- */

section {
    position: relative;
    width: 100%;
    min-height: 30vh;
    /* border-bottom: 1px solid red; */
}

.sec-1 {
    height: auto;
}

section article {
    margin: 30px;
}

section p {
    text-align: justify;
    padding: 10px;
    color: grey;
    font-family: 'Montserrat';
    font-size: 1em;
}

section p a {
    text-decoration: none;
    font-weight: bold;
    color: grey;
    cursor: pointer;
    transition: .3s;
}

section p a:hover {
    color: red;
    border-bottom: 1px solid red;
}

/* ------SECTION - 2 ---------- */

#me {
    margin: 20px;
    width: 200px;
    height: 200px;
    float: left;
}

.sec-2 article {
    margin-top: 20px;
}

h3 {
    padding-left: 10px;
    font-size: 2em;
    font-family: 'Montserrat';
    color: red;
}

/* ------SECTION - 3 ---------- */

/* ------SECTION - 4  Cennik ---------- */

.sec-4 {
    background-image: url('../img/price-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.sec-4 h3 {
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat';
}

/* .sec-4 p:nth-of-type(2) {
    text-align: center;
} */

.sec-4 span {
    display: block;
    text-align: center;
    color: red;
    font-family: 'Montserrat';
}

.sec-4 p span {
    text-align: left;
    color: red;
}

.price-cards {
    display: flex;
    -webkit-justify-content: space-around;
    /* Safari */
    justify-content: space-around;
}

.card {
    position: relative;
    margin: 50px 0;
    padding: 0;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    transition: .3s;
    /* background: #000; */
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.75);
}

.filter-card {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 400px;
    height: 500px;
    background: rgba(0, 0, 0, .8);
}

.card:hover {
    transform: scale(1.1);
}

.card::before {
    position: absolute;
    content: '';
    width: 200px;
    left: -270px;
    height: 570px;
    background: #ffffff;
    opacity: .3;
    transition: .5s;
    transform: skew(-10deg);
}

.card:hover::before {
    left: 550px;
}

.card ul {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.card ul li {
    list-style-type: none;
    color: #dddddd;
    padding: 10px;
    width: 300px;
    font-family: 'Montserrat';
}

.card ul li span {
    display: block;
    width: 200px;
    padding: 8px 0;
    margin: 0;
}

.card h4 {
    color: #dddddd;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.card hr {
    position: absolute;
    top: 11%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, red, transparent);
}

.card button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    padding: 8px 12px;
    border: 1px solid #dddddd;
    border-radius: 28px;
    transform: translate(-50%, -50%);
    background: transparent;
    color: #dddddd;
    cursor: pointer;
    transition: .3s;
}

.card button:hover {
    color: red;
    border: 1px solid red;
}

.card-1 {
    padding: 30px;
    background-image: url('../img/price-roses1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-2 {
    padding: 20px;
    background-image: url('../img/price-roses2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ------SECTION - 5 ---------- */

/* ------SECTION - 6  Kontakt ---------- */

.sec-6 {
    display: flex;
}

.contact {
    position: relative;
    height: 40vh;
    width: 30%;
    background: #000;
    font-size: 1.5em;
}

.contact h3 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat';
    color: #dddddd;
    color: red;
    font-size: 1.5em;
    margin: 20px 20px 30px;
}

.contact ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #dddddd;
    list-style-type: none;
    font-family: 'Montserrat';
}

.contact ul li {
    padding: 8px 0 8px 0;
}

.contact ul li a {
    display: block;
    color: red;
    font-size: .8em;
    width: 380px;
    text-decoration: none;
}

/* -------- FOOTER ------------ */

footer {
    height: 40vh;
    background-image: url('../img/jw-footer-bg.jpg');
    background-position: center 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-filter {
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.904);
}

/* ************************************************************************ | RWD | *********************
************************************************ */

@media screen and (max-width: 1000px) {
    #h-me {
        width: 100%;
        height: 100vh;
    }
    nav ul {
        display: none;
    }
    .fa-bars {
        visibility: visible;
    }
    header h1 {
        font-size: 5em;
        top: 40%;
    }
    hr {
        top: 60%;
    }
    header h2 {
        margin-top: 5%;
    }
    nav span {
        visibility: visible;
    }
    .card {
        margin-right: 10px;
    }
    .filter-card h4 {
        text-align: center;
    }
    .sec-6 {
        flex-direction: column;
    }
}